<nav class="navbar">
    <button type="button" class="btn-bars">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="navbar-collapse showMenu">
      <span class="btn-close">
        <i class="fa-solid fa-xmark"></i>
      </span>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="index.html" class="nav-link">AP Euro</a>
        </li>
        <li class="nav-item">
          <a href="apush.html" class="nav-link">APUSH</a>
        </li>
        <li class="nav-item">
          <a href="bio.html" class="nav-link">AP Bio</a>
        </li>
        <li class="nav-item">
          <a href="compsci.html" class="nav-link">AP CSP</a>
        </li>
        <li class="nav-item">
          <a href="lang.html" class="nav-link">AP Lang</a>
        </li>
        <li class="nav-item">
          <a href="gov.html" class="nav-link">AP Gov</a>
        </li>
        <li class="nav-item">
          <a href="phys.html" class="nav-link">AP Physics 1</a>
        </li>
      </ul>
    </div>
  </nav>

  <script>
    const showBtn = document.querySelector(".btn-bars"),
    closeBtn = document.querySelector(".btn-close"),
    navMenu = document.querySelector(".navbar-collapse");
    showBtn.addEventListener("click", () => {
      navMenu.classList.remove("showMenu");
    });
    closeBtn.addEventListener("click", () => {
      navMenu.classList.add("showMenu");
    });
  </script>